<script type="text/javascript" src="js/svg-injector.min.js"></script>
<script>

// Elements to inject
var mySVGsToInject = document.querySelectorAll('img.inject-me');

// Do the injection
SVGInjector(mySVGsToInject);


</script>
<p class="text-center">
	Copyright &copy; 2015 - Home Movies
</p>
<p class="text-center text-muted">
	Powered by the <a href="http://archive.org">Internet Archive</a>
</p>