<!-- views/partials/header.ejs -->

<!-- Trigger the modal with a button -->
<button type="button" id="info-button" class="btn btn-default btn-circle" data-toggle="modal" data-target="#myModal"><span class="fa fa-question"></span></button>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Home Movies</h4>
            </div>
            <div class="modal-body">
                <p>A web app side project created to present the Home Movies collection on <a href="https://archive.org/details/home_movies">Internet Archive</a> in a more focused and interesting way alongside randomly selected music from <a href="https://www.jamendo.com/">Jamendo</a> (a free music community). </p>
                <p>I've always been interested in retro style, so I designed Home Movies as a fun way of evoking nostalgia while presenting real home movie videos.</p>
                <br>
                <h5 class="modal-subtitle">How to use...</h5>
                <ul>
                <li>Think of a topic you want to search for and begin typing it in the search bar. Location based searches work best, like"California" or "San Francisco"</li><br>
                <li>Watch as select home movies matching your result are drawn from the Internet Archive.</li><br>
                <li>If the video doesn't include any sound, simply click the lower knob to queue up a random song from the music website Jamendo. At the current time, the default genre is soundscape + ambient.</li><br>
                <li>Want to see the next video result? Click the upper knob and the next video result will be loaded. You can how many results have been pulled by looking at the details below the TV.</li>
                </ul>
                <br>
                <h5 class="modal-subtitle">Tech Stack</h5>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-bullseye"></i>Node JS, Express, Angular</li>
                    <li><i class="fa-li fa fa-bullseye"></i>Frameworks/Libraries</li>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-bullseye"></i>GreenSock's <a href="https://greensock.com/gsap" target="__blank">GSAP</a></li>
                    </ul>
                    <li><i class="fa-li fa fa-bullseye"></i>Node packages/modules:</li>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-bullseye"></i><a href="https://www.npmjs.com/package/jamendo" target="__blank">jamendo</a></li>
                        <li><i class="fa-li fa fa-bullseye"></i><a href="https://www.npmjs.com/package/apicache" target="__blank">apicache</a></li>
                    </ul>
                    <li><i class="fa-li fa fa-bullseye"></i>HTML/CSS/Magic</li>
                    <li><i class="fa-li fa fa-bullseye"></i>Deployed via Heroku</li>
                </ul>
                <br>
                <h5 class="modal-subtitle">Source Code</h5>
                <p><a href="https://github.com/blunatic/home-movies" target="__blank">GitHub</a></p>
                <h5 class="modal-subtitle">Developer</h5>
                <p><a href="http://brendanluna.com" target="__blank">Brendan Luna</a>
                <h5 class="modal-subtitle">Suggestions or Feedback?</h5>
                <p><a href="mailto:brendan@brendanluna.com"><span class="fa fa-envelope"></span></a></p>
            </div>
        </div>
    </div>
</div>
