<!-- views/partials/header.ejs -->

<!-- Trigger the modal with a button -->
<button type="button" id="info-button" class="btn btn-default btn-circle" data-toggle="modal" data-target="#myModal"><span class="fa fa-question"></span></button>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Home Movies</h4>
            </div>
            <div class="modal-body">
                <p>A web app side project created to present the Home Movies collection on Internet Archive in a more focused and interesting way. </p>
                <p>I've always been interested in nostalgia and retro style, so I designed Home Movies as a fun way of evoking this while presenting real home movie videos.</p>
                <br>
                <h5 class="modal-subtitle">Tech Stack</h5>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-bullseye"></i>Node JS</li>
                    <li><i class="fa-li fa fa-bullseye"></i>Express</li>
                    <li><i class="fa-li fa fa-bullseye"></i>Redis</li>
                    <li><i class="fa-li fa fa-bullseye"></i>Frameworks/Libraries:</li>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-bullseye"></i>GreenSock's <a href="https://greensock.com/gsap" target="__blank">GSAP</a></li>
                        <li><i class="fa-li fa fa-bullseye"></i>SVG Injection <a href="https://github.com/iconic/SVGInjector" target="__blank">library</a></li>
                    </ul>
                    <li><i class="fa-li fa fa-bullseye"></i>HTML/CSS/Magic</li>
                    <li><i class="fa-li fa fa-bullseye"></i>Deployed via Heroku</li>
                </ul>
                <br>
                <h5 class="modal-subtitle">Source Code</h5>
                <p><a href="https://github.com/blunatic/home-movies" target="__blank">GitHub</a></p>
                <h5 class="modal-subtitle">Developer</h5>
                <p><a href="http://brendanluna.com" target="__blank">Brendan Luna</a></p>
            </div>
        </div>
    </div>
</div>
